<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:requestLegacyExternalStorage="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.NoActionBar"
        android:largeHeap="true"
        android:dataExtractionRules="@xml/data_extraction_rules">
        <activity
            android:name=".LoginActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivityJava"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".LookupActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ManageSolutionsListActivity" />
        <activity
            android:name=".ManageSolutionsActivity"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name=".ManageSolutionsDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ManageUsersActivity"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name=".MyInfoActivity"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name=".ManageCategoriesActivity"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name=".ManageCategoriesDetailActivity"
            android:configChanges="orientation|keyboardHidden" />
    </application>

</manifest>